
/******************/
/* The body part  */
/******************/
body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color:#8B4513;
	background-image: url(design/bgr.gif);
	background-repeat: repeat-x;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	color:#000000;
	}
/************************/
/* Contain the design   */
/************************/
#conteneur {
	width:790px;
	margin:0px auto;
	padding: 0px 0px 0px 0px;
	background-image:url(design/fond.jpg);
	background-position:center;
	background-repeat:repeat-y;
	}
/*************************/
/* Contain the header    */
/*************************/
#header {
	width:790px;
	height:150px;
	background-image:url(design/header.jpg);
	background-position:bottom center;
	background-repeat:no-repeat;
	}
/*******************************/
/* At the bottom of the header */
/*******************************/
#menu {
	width:790px;
	height:51px;
	background-image:url(design/menu.jpg);
	background-position: center;
	background-repeat:no-repeat;
	}
/*******************************/
/* At the bottom of the "menu" */
/*******************************/
#sousmenu {
	width:790px;
	height:51px;
	background-image:url(design/sousmenu.jpg);
	background-position: center;
	background-repeat:no-repeat;
	}
/********************/
/* the central part */
/********************/
#center {
	width:790px;
	}
/**********/
/* footer */
/**********/
#pied a
{
	font-size:11px;
}
#pied {
	width:790px;
	height:60px;
	background-image: url(design/pied.jpg);
	background-position: center;
	background-repeat:no-repeat;
	text-align: center;
	clear:both;
	font-size:11px;
	}
/***************************/
/* Where you put your text */
/***************************/
#contenu {
	float:left;
	width:480px;
	margin-left:30px;
	text-align:justify; 
	overflow-y:hidden;overflow-x:auto;
	}
	#contenu h1.title
	{
	font-size:14px;		color:#8b4513;	}

		#contenu .links {     padding-top:0px;}
		#contenu .links li a{text-decoration:none;}
	#contenu .links li
	{font-size:10px;	}
/****************/
/* The left nav */
/****************/
#gauche {
	float:left;
	width:200px;
	margin-left:20px;
	display:inline; /* important for ie */
	}
	#nav h2.title
	{		margin-left:10px;	}
	.profile h2.title
	{		color:#a4522c;
		font-weight:bold;
		font-size:13px;	}
	#nav .item-list ul

	{			margin-left:-22px;	}
	#nav h3
	{		color:#a4522c	}

#nav ul.menu
	{		margin-left:-11px;	}
#nav {
	width:195px;
	float:left;

	}
#nav a:link, #nav a:visited {
	background-color: #FFFFFF;
	background-image:url(design/tick.gif);
	background-position:left;
	background-repeat:no-repeat;
	color:#333333;
	width:175px;
	margin:0px 0px 0px 0px;
	padding:5px 0px 5px 20px;
	text-decoration:none;
	border-bottom:1px solid #666666;
	border-left:1px solid #000000;
	display:block;
	}
#nav a:hover,#nav a.active {
	background-color: #ffffff;
	width:175px;
	background-image:url(design/tick_on.gif);
	background-position:left;
	background-repeat:no-repeat;
	padding-left:20px;
	color:#333333;
	border-left:1px solid #000000;
	text-decoration:none;
	}
/*****************************************/
/* To say that picture don't have border */
/*****************************************/
img {
	border:0px;
	}
/***************************/
/* Modif for links in text */
/***************************/
a:link {
	text-decoration:none;
	color:#990000;
	}
a:visited {
	text-decoration:none;
	color:#990000;
	}
a:hover {
	text-decoration:none;
	color: #CC0000;
	}
/**************/
/* Main title */
/**************/
#header img 
{
margin-left:155px;
margin-top:50px;
}
#titre {
	position:absolute;
	font-size:36px;
	padding-left:200px;
	top:50px;
	color:#800000;
	}
	#header  .site-name a
	   {
	position:absolute;
	font-size:36px;
	padding-left:200px;
	top:50px;
	color:#800000;
	text-decoration:none;
	font-weight:lighter;
	}
/************/
/* Subtitle */
/************/
#header .site-slogan{
	position:absolute;
	font-size: 10px;
	padding-left:250px;
	top:90px;
	color:#800000;
	}
#subtitle {
	position:absolute;
	font-size: 10px;
	padding-left:250px;
	top:86px;
	color:#800000;
	}
#copy {
	padding-top:20px;
	}
/* The end ^^ */

li.leaf {

list-style-type: none;
list-style-image: none;
padding-top: 0.2em;
padding-right: 0.5em;
padding-bottom: 0pt;
padding-left: 0pt;
margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: -5px;
}

.block ul {

margin-top: 0pt;
margin-right: 0pt;
margin-bottom: 0pt;
margin-left: -2pt;
padding-top: 0pt;
padding-right: 0.5em;
padding-bottom: 0.25em;
padding-left: 0.5em;
}

.item-list ul li
{
list-style-type:none;
}

li.collapsed
{
list-style-type:none;
list-style-image: none;
}
li.expanded
{
list-style-type: none;
list-style-image: none;
}
#contenu ul.primary a:hover,#contenu ul.primary a.active 
{
color:#fff;
	background:#a4522c;
}
#contenu ul.primary a
{
color:#a4522c;
	background:#fff;
}
ul.primary

{
padding-left: 1em;
margin-top: 1px;
margin-right: 1px;
margin-bottom: 6px;
margin-left: 1px;
height: auto;
font-size:10px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #faf8e9;
}
 span.submitted { font-size: x-small; color: #888; padding: 0; }
h2.comments { font-size:13px;margin-top:15px;}
.breadcrumb
{
font-size:10px;
padding-bottom: 0.5em;
  }
 #nav h2.title
 {        font-size:14px; 	color:#a4522c }
 #nav .content
 { 	font-size:11px }
 .poll
 {   padding-top:8px; 	font-size:11px;
 	color:#a4522c; }
 textarea, select {
background:#f0f0f0;
border:1px solid #b0b0b0;
margin:0 4px 0 0;

font-size:12px;
}

input {
font-size:12px;
background:#f0f0f0;
border:1px  solid #b0b0b0;
}
.form-submit
{
border:1px  solid #b0b0b0;
color:white;background:#a4522c;
margin:5px 0 5px 0;}